<div class="detailsPage">
  <div class="detailsCard">
    <h1>{{name}}</h1>
    <img class="trip" src="{{imageUrl}}">
    <div class="details">
      <p><span>Description:</span> {{description}}</p>
      <p><span>Date from:</span> {{dateFrom}}</p>
      <p><span>Date to:</span> {{dateTo}}</p>
      <a class="btn" href="/">Back</a>
    </div>
  </div>
</div>