
<div class="detailsPage">
  <div class="detailsCard">
    <h1>{{trip.name}}</h1>
    <img class="trip" src="{{trip.imageUrl}}">
    <div class="details">
      <p><span>Description:</span> {{trip.description}}</p>
      <p><span>Date from:</span> {{trip.dateFrom}}</p>
      <p><span>Date to:</span> {{trip.dateTo}}</p>
      <a class="btn" href="/">Back</a>
      <a class="btn" href="/comments/add/{{trip._id}}">Add Comment</a>
    </div>
  </div>
</div>